.main-container {
    width: 1024px;
    display: table;
    content: " ";
    padding: 0;
    margin: 0 auto;

    > .body {
        display: table;

        > .sidebar {
            width: 254px;
            padding: 10px 10px 10px 0;
            float: left;
        }
    }

}