
.header {
    height: 100px;

    > .logo {
        float: left;
        width: 280px;
        height: 100%;
    }

    > .header-center {
        float: left;
        width: 450px;
        height: 100%;
    }

    > .cart {
        float:right;
        width: 294px;
        height: 100%;
    }
}