.menu {
    text-align: center;
    background-color: #ccc;

    .menu-list {
        color: black;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        min-height: 35px;

        > li {
            color: black;
            display: inline-block;
            height: 35px;

            &:hover {
                background-color: #888;
            }

            > div {
                margin-right: 30px;
                height: 100%;
                text-align: center;
                width: 100%;
                vertical-align: middle;

                > a {
                    text-decoration: none!important;
                    color: black;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding-top: 7px;

                    &:hover {
                        color: white!important;
                    }
                }
            }
        }

        > .active {
            background-color: green;
            
            a {
                color: white;
            }
        }

        > li:last-child {
            margin-right: 0px;
        }
    }
}

.sidebar {
    > .categories {
        border: 1px solid #ccc;
        border-radius: 5px;

        > .menu-list {
            list-style-type: none;
            padding: 10px;
            margin: 0px;
            text-transform: uppercase;
            font-size: 14px;

            a {
                text-decoration: none;
                color: black;
                &:hover {
                    text-decoration: none;
                    color: #ccc;
                }
            }

            > li:first-child {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 20px;
            }
        }
    }
}