div.Products-card-index {
    h1.name {
        font-size: 21px;
    }

    div.article {
        font-size: 12px;
        color: #888;
        margin-bottom: 15px;
    }

    div.pictures {
        overflow: auto;
        float: left;
        margin-right: 15px;

        .current {
            width: 375px;
            min-height: 275px;
            border: 2px solid #c3c3c3;
            padding: 10px;
            display: table-cell;
            height: 275px;
            vertical-align: middle;
            text-align: center;
            font-size: 120px;
            font-family: 'Arial Black';
            color: #c3c3c3;

            img {
                width: 100%;
            }
        }
    }

    div.price_info {
        div {
            margin-bottom: 15px;
        }

        .price {
            font-size: 18px;

            .num {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .description_title {
        font-size: 18px;
    }
}