div.product_card {
    height: 250px;
    position: relative; 

    > .panel-body {
        > .cart_button {
            position: absolute;
            bottom: 0px;
            text-align: center;
            width: 100%;
            left: 0px;
            padding: 5px;
            border-top: 1px solid #ccc;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}